<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>minproject</display-name>
  
  
  
  
<!-- *******notice****** -->
  <servlet>
  	<servlet-name>notice_write</servlet-name>  
  	<servlet-class>admin.notice_write</servlet-class>
  </servlet>
  <servlet-mapping>  
  	<servlet-name>notice_write</servlet-name>
  	<url-pattern>/admin/notice_write.do</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>notice_list</servlet-name>  
  	<servlet-class>admin.notice_list</servlet-class>
  </servlet>
  <servlet-mapping>  
  	<servlet-name>notice_list</servlet-name>
  	<url-pattern>/admin/notice_list.do</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>notice_delete</servlet-name>  
  	<servlet-class>admin.notice_delete</servlet-class>
  </servlet>
  <servlet-mapping>  
  	<servlet-name>notice_delete</servlet-name>
  	<url-pattern>/admin/notice_delete.do</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>notice_view</servlet-name>  
  	<servlet-class>admin.notice_view</servlet-class>
  </servlet>
  <servlet-mapping>  
  	<servlet-name>notice_view</servlet-name>
  	<url-pattern>/admin/notice_view.do</url-pattern>  
  </servlet-mapping>
    
  <servlet>
  	<servlet-name>notice_modify_view</servlet-name>  
  	<servlet-class>admin.notice_modify_view</servlet-class>
  </servlet>
  <servlet-mapping>  
  	<servlet-name>notice_modify_view</servlet-name>
  	<url-pattern>/admin/notice_modify_view.do</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>notice_modify</servlet-name>  
  	<servlet-class>admin.notice_modify</servlet-class>
  </servlet>
  <servlet-mapping>  
  	<servlet-name>notice_modify</servlet-name>
  	<url-pattern>/admin/notice_modify.do</url-pattern>  
  </servlet-mapping>
  
  
  
  
<!-- *******hp_setting********* -->
	<servlet>
		<servlet-name>hp_joinok</servlet-name>	<!-- 참조할 servlet 파일 이름 -->
		<servlet-class>hp_setting.hp_joinok</servlet-class>	<!-- 참조할 servlet 경로 및 class이름 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>hp_joinok</servlet-name>	<!-- 가상의 servlet 파일 이름 -->
		<url-pattern>/admin/hp_joinok.do</url-pattern>	<!-- webapp 안의 admin 안의 hp_joinok.do 이라는 가상의 url 만듦 -->
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hp_list</servlet-name>	<!-- 참조할 servlet 파일 이름 -->
		<servlet-class>hp_setting.hp_list</servlet-class>	<!-- 참조할 servlet 경로 및 class이름 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>hp_list</servlet-name>	<!-- 가상의 servlet 파일 이름 -->
		<url-pattern>/admin/hp_list.do</url-pattern>	<!-- webapp 안의 admin 안의 hp_list.do 이라는 가상의 url 만듦 -->
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hp_joinok_update</servlet-name>
		<servlet-class>hp_setting.hp_joinok_update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hp_joinok_update</servlet-name>
		<url-pattern>/admin/hp_joinok_update.do</url-pattern>
	</servlet-mapping>
	
	<!--  
	<servlet>
		<servlet-name>hp_update</servlet-name>
		<servlet-class>hp_setting.hp_update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hp_update</servlet-name>
		<url-pattern>/admin/hp_update.do</url-pattern>
	</servlet-mapping>
	-->
	
  
</web-app>